.qgu-task-list {
	-fx-padding: 10 0 0 0;
}

.task-list > .plus-button {
		
}

/* GENERIC TABLE STYLE */
.table-view,
.table-view > * {
	-fx-focus-color: transparent;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
	
}

.table-view .column-header-background .label { 
    -fx-font-weight: normal;
}

.table-view .table-row-cell {
	-fx-border-width: 0px;
}

.table-view .table-row-cell:selected {
	-fx-border-width: 0px;
	-fx-background-color: transparent;
	-fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/* QGU TIMELINE STYLE */
.qgu-timeline {
	-fx-table-cell-border-color: transparent;
	-fx-table-cell-border-width: 0px;
}

.qgu-timeline .table-column {
	-fx-padding: 5 0 3 0;
	-fx-border-width: 0px;
}

.ipad-dark-grey {

	-fx-background-color: skyblue, gray, lightgreen;
	-fx-background-insets: 1 0 1 1, 5 0 7 5, 7 0 7 7;
	
	/*-fx-border-color: radial-gradient(center 50% 40%, radius 120%, #b8ee36 40%, #80c800 50%);
	*/
	
	-fx-border-width: 10px;
	
	
}

.gantt-piece-beginning {	
	-fx-background-color: #666666, #84b1ff, #468aff, #adcbff;
	-fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 4 2, 3 0 4 3;
	-fx-border-width: 0;
	-fx-background-radius: 5 0 0 5;
}

.gantt-piece-center {
	-fx-background-color: #666666, #84b1ff, #468aff, #adcbff;
	-fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 4 0, 3 0 4 0;
	-fx-border-width: 0;
}

.gantt-piece-end {
	-fx-background-color: #666666, #84b1ff, #468aff, #adcbff;
	-fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 4 0, 3 3 4 0;
	-fx-border-width: 0;
	-fx-background-radius: 0 5 5 0;
}