* {
	-fx-qgu-table-row-height: 25px;
}

.qgu-task-list {
	-fx-padding: 0 0 0 0;
}

.qgu-task-list .tree-table-row-cell {
	-fx-cell-size: -fx-qgu-table-row-height;
}

.qgu-task-list .tree-table-row-cell:odd {
	-fx-background: -fx-control-inner-background-alt;
}

.qgu-task-list .task-list-button {
	-fx-padding: 2 5 2 5;
	
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 10;
	
	-fx-background-color: #eeeeee;
	-fx-border-width: 1px;
	-fx-border-color: #cccccc;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

.qgu-task-list .task-list-button:hover {
	-fx-background-color: #dddddd;
}

.qgu-task-list .task-list-button:pressed {
	-fx-background-color: #cccccc;
}

/* GENERIC TABLE STYLE */
.table-view,
.table-view > * {
	-fx-focus-color: transparent;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
	
}

.table-view .column-header-background .label { 
    -fx-font-weight: normal;
}

.table-view .table-row-cell {
	-fx-border-width: 0px;
}

.table-view .table-row-cell:selected {
	-fx-border-width: 0px;
	-fx-background-color: transparent;
	-fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/* QGU TIMELINE STYLE */
.qgu-timeline {
	-fx-table-cell-border-color: transparent;
	-fx-table-cell-border-width: 0px;
}

.qgu-timeline .table-column {
	-fx-padding: 5 0 3 0;
	-fx-border-width: 0px;
}

.qgu-timeline .table-row-cell {
	-fx-cell-size: -fx-qgu-table-row-height;
}

.gantt-piece-beginning {	
	-fx-background-color: #468aff, #84b1ff, #468aff, #adcbff;
	-fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 4 2, 3 0 4 3;
	-fx-border-width: 0;
	-fx-background-radius: 5 0 0 5;
}

.gantt-piece-center {
	-fx-background-color: #468aff, #84b1ff, #468aff, #adcbff;
	-fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 4 0, 3 0 4 0;
	-fx-border-width: 0;
}

.gantt-piece-end {
	-fx-background-color: #468aff, #84b1ff, #468aff, #adcbff;
	-fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 4 0, 3 3 4 0;
	-fx-border-width: 0;
	-fx-background-radius: 0 5 5 0;
}